%section.track-development.feature-gallery.feature-gallery-alt.page-container
  .container
    .titles.text-center
      %h3 Keep track of the development process
      %h4 System administrators and managers can quickly see who has made changes to the server and easily follow the team’s contributions.
    .feature-tree
      .feature-tree-row.row
        .feature-tree-image-wrap.col-md-6.col-md-offset-1
          = image_tag "/images/gitlab_ee/screenshots/10-audit-logs.png", class: "img-responsive", alt: "Audit logs preview"
        .feature-tree-text-wrap.col-md-4
          %h3.feature-tree-title Audit logs
          %p.feature-tree-description All changes made within the GitLab server are tracked and an advanced logging system stores all log files.
      .feature-tree-row.row
        .feature-tree-image-wrap.col-md-6.col-md-offset-1.col-md-push-4
          = image_tag "/images/gitlab_ee/screenshots/11-contributor-analytics.png", class: "img-responsive", alt: "Contributor analytics preview"
        .feature-tree-text-wrap.col-md-4.col-md-pull-6
          %h3.feature-tree-title Contributor analytics
          %p.feature-tree-description Get an overview of your organization’s activity of issues, merge requests and push events.
